<div class="checkout-wrapper">
  <div  ng-repeat="item in user.user.data.cart"
        class="checkout-product">
    <div class="image-left">
      <img ng-src="{{item.product.pictures[0]}}">
    </div>
    <div class="product-details">
      <div class="name">
        {{item.product.name}}
      </div>
      <div class="price">
        {{item.product.displayPrice}}
      </div>
      <div class="quantity">
	  <table class = "table">
        <tr>
		<th>Quantity</th>
		<th>Total Cost</th>
		<th></th>		
		</tr>
		
		<tr>
		<td>
		<input type="number" ng-model="item.quantity" min="1" step = "1" />
		</td>
		<td>
		{{item.product.price.amount * item.quantity | currency}}
		</td>
		<td>
		[<a href ng:click="removeItem($index)">X</a>]
		</td>
		
		</tr>
		
		</table>		        
      </div>	 	  
    </div>	
  </div>
  
  <div class="checkout-product" ng-show = "!itemPresent">
  <p>No item present in cart</p>
  </div>
 
    <div style="clear: both"></div>
	
	<div >
	<table>
	<tr>
	  <td>Total:</td>
	  <td>{{total() | currency}}
	  </td>
	  <td></td>
	  </tr>
	</table>	  
	</div>
  
  <div class="update-cart-button" ng-click="updateCart()" ng-show="itemPresent">
    Update Cart
  </div>
  <div class="checkout1">
    <h1>
      <i class="fa fa-credit-card"></i>
      Payment
    </h1>
    <div class="credit-card-input">
      Credit Card Number:
      <input type="text" ng-model="stripeToken.number" />
    </div>
    <div class="checkout-button" ng-click="checkout()">
      Check Out
    </div>
    <div class="checkout-error" ng-show="error">
      {{error}}
    </div>
    <div class="checkout-success" ng-show="checkedOut">
      Checked out successfully!
    </div>
  </div>
</div>
