<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
<title>Mean App Nav Bar</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
 Bootstrap style 
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen"/> 
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" media="screen"/> 

<link rel="stylesheet" type="text/css" href="bootstrap/css/style.css" />

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }  

</style>



    </head>   
	<body>
		
		<!-- header -->
		<header class="header">
			
			<!-- logo and adds -->
			<div class="logo-add">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="logo"><i class="fa fa-diamond"></i>E Commerce</div>
						</div>
						<div class="col-sm-8">
							<h3 class="add bb-year-end-ribbon hidden-xs"><img src="images/red-tablet.png" width="30px;" alt="" /> 
							<span>Hi! Stay plugged in to the newest <span>Tech and Books</span> </span> </h3>
						</div>
					</div>
				</div>
			</div>
			
			<!-- header bottom -->
			<div class="bs-example">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                
            </button>
			<div class = "logo">
            <a href="/" class="navbar-brand"><img src="/images/logo-thumb-230x180.png" /></a>
			</div>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-href="/">Home</a></li>
                <li><a ng-href="#/contact">Contact</a></li>
				
				<li class="dropdown">
						<a href= "" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a ng-href="#/category/Books">Books</a></li>
							<li><a ng-href="#/category/Electronics">Electronics</a></li>							
						</ul>
				</li>
                
            </ul>						
			
	
            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control" ng-model="Text.Field">
                </div>
            </form>
		
            <ul class="nav navbar-nav navbar-right user-info">
			
			
		<li class="checkout" ng-show="user.user">	
      
        <a ng-href="#/checkout">
          <i class="icon-shopping-cart icon-white"></i>
        </a>
      
	  </li>
	  
	  <li class = "dropdown user" ng-show ="user.user">
      <!-- <div class="user"> -->
        <a href ="" data-toggle="dropdown" class="dropdown-toggle"><img ng-src="{{user.user.profile.picture}}" /> <b class="caret"></b></a>
		<ul role="menu" class="dropdown-menu">                                                
                        <li class="divider"></li>
                        <li><a href="/logout">LogOut</a></li>
                    </ul>
		
		
     <!-- </div> -->
	  </li>
	  
	  <li class = "login" ng-show="!user.user">
      
        <a href="/auth/facebook?redirect=%2F%23%2Flogin">
          <img src="//i.stack.imgur.com/LKMP7.png">
        </a>
      
	  </li>
	  </ul>
    

			
			
			
        </div>
    </nav>
</div>

		</header>	
		
		<!-- home -->
		<section class="home" ng-show = "!user.user">
			<div class="intro">
				<div id="home" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#home" data-slide-to="0" class="active"></li>
						<li data-target="#home" data-slide-to="1"></li>						
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="container">
								<div class="row">
									<div class="col-sm-7">
										<div class="intro-content">
											<h1>Last Chance</h1>
											<h2>Biggest <span class="highlight">Sale</span></h2>
											<p>Please Login to see exciting offers</p>
											<a href= "/auth/facebook?redirect=%2F" class="btn btn-default">Shop Now</a>
										</div>
									</div>
									<div class="col-sm-5">
										<img class="img-responsive" src="/images/person.png" height="742" alt="" />
									</div>	
								</div>	
							</div>	
						</div>
						<div class="item">
							<div class="container">
								<div class="row">
									<div class="col-sm-7">
										<div class="intro-content">
											<h1>Last Chance</h1>
											<h2>Biggest <span class="highlight">Sale</span></h2>
											<p>Please Login to see exciting offers.</p>
											<a class="btn btn-default">Shop Now</a>
										</div>
									</div>
									<div class="col-sm-5">
										<img class="img-responsive" src="/images/image2.png" alt="" />
									</div>	
								</div>	
							</div>	
						</div>
						
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#home" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
					<a class="right carousel-control" href="#home" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
				</div>
			</div>
		</section>

</body>
</html>		
